{% extends 'base.html.twig' %}

{% block title "Mon application react"%}

{% block stylesheets %}
<link href="/theme/bootstrap.min.css" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

